@import '_variables.less';
.input1{
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid @brown1;
    padding: 5px 7px;
    width: 100%;
    margin-bottom: 8px;
    font-size: 16px;
    color: white;
    font-family: @font1;
}
.button1{
    background: #b8824d;
    color: white;
    padding: 10px 40px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 6px 0;
    font-family: @font1;
    font-size: 20px;
    cursor: pointer;
}
.btn1{
    background: url('../img/bg4.png');
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-size: 100px;
    padding: 4px 13px;
    border-radius: 4px;
    margin: 4px 1px;
    font-family: @font1;
    font-weight: bold;
    cursor: pointer;
}
.input2{
    background: rgba(0,0,0,0.4);
    border: 2px solid #b8824d;
    padding: 4px 7px;
    width: 40px;
    margin-bottom: 8px;
    font-size: 14px;
    color: white;
    font-family: 'Julee', cursive, sans-serif;
    vertical-align: top;
}
