@import '_variables.less';

body.game{
    background: black;
    background-image: none;
}
.inner2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    .menu{
        flex-basis: 225px;
        width: 225px;
        height: 100%;
        background: url('../img/bgw.png'), @brown1;
        border: 23px solid @brown1;
        border-image: url('../img/border1.png') 26 round;
    }
    .game{
        flex: 1;
        overflow: hidden;
        background: url('../img/bg3.png');
        position: relative;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .arrow{
        position: absolute;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        justify-content: center;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        z-index: 200;

        &#left-arrow{
            top: 0;
            left: 0;
            height: 100%;
            width: 25px;
        }
        &#right-arrow{
            top: 0;
            right: 0;
            height: 100%;
            width: 25px;
        }
        &#top-arrow{
            top: 0;
            height: 25px;
            width: 100%;
            font-size: 18px;
        }
        &#down-arrow{
            bottom: 0;
            height: 25px;
            width: 100%;
            font-size: 18px;
        }
    }
}
#game{
    .map_item{
        position: absolute;
        width: 80px;
        z-index: 180;
    }
}
.menuh{
    text-align: center;
    h2{
        font-size: 18px;
        margin: 0;
    }
    .cityimage{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.7);
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 5px;

    }
    .textp{
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }
    .textp2{
        margin: 0;
        font-size: 18px;
    }
    &#right-data .none-show{
        margin: 25vh 5px;
    }
}
#game{
    div.city-div{
        width: 80px;
        height: 25px;
        margin-top: 60px;
        z-index: 160;
        border-radius: 10px;
    }
    div.map_item.city-selected{
        background: rgba(255, 255, 0, 0.5);
    }
    div.map_item.my-city{
        border: 3px solid rgba(255, 0, 0, 0.5);
    }
    .city-on-map{
        cursor: pointer;
    }
}
